body{
  font: 15px/1.5 Arial,Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#F0F0F0;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}


/* header */
header{
  background:#FFFFFF;
  color:#000000;
  min-height:70px;
  border-bottom:#6ED4F5 3px solid;
}

header a{
  color:#000000;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 20px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;//top right bottom left
}

header #name{
  float: left;
  font-size: 20px;
}

header #branding h1{
  margin:0;
}
header nav{
  float:right;
  margin-top:35px;
}

header .current a{
  color:#6ED4F5;
  font-weight: bold;
}
header a:hover{
  color:#6ED4F5;
}

/*bottom bar*/
#bottombar{
  padding:20px;
  background:#E6E6E6;
  color:#000000;
  min-height:30px;
  text-align: center;
}

#spotify{
  background:#000000;
  color:#FFFFFF;
  text-align:center;
  font-size:72px;
  min-height:1080px;
}
